Source: ingescape
Section: libs
Maintainer: Ingenuity IO <contact@ingenuity.io>
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)
Homepage: https://ingescape.com

Package: libingescape
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: The Ingescape library

Package: libingescape-dev
Architecture: any
Section: libdevel
Depends: ${shlibs:Depends}, ${misc:Depends}
Multi-Arch: same
Description: The Ingescape library