#!/usr/bin/make -f
ROOT_DIR:=$(shell dirname $(realpath $(lastword $(MAKEFILE_LIST))))

override_dh_auto_install:
	mkdir -p $(ROOT_DIR)/tmp/usr/lib/
	mkdir -p $(ROOT_DIR)/tmp/usr/include/ingescape/
	cp -d $(ROOT_DIR)/../../linux-x86/*.so* $(ROOT_DIR)/tmp/usr/lib/
	cp -d $(ROOT_DIR)/../../src/include/ingescape.h $(ROOT_DIR)/tmp/usr/include/ingescape/
	dh_install

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

%:
	dh $@

.PHONY: override_dh_auto_install override_dh_shlibdeps
	