csharp/IngescapeCSharpWrapper/CSharpSampleAgent/bin/
csharp/IngescapeCSharpWrapper/CSharpSampleAgent/obj/
csharp/IngescapeCSharpWrapper/IngescapeCSharp/bin/
csharp/IngescapeCSharpWrapper/IngescapeCSharp/obj/
csharp/IngescapeCSharpWrapper/LogicTest/bin/
csharp/IngescapeCSharpWrapper/LogicTest/obj/
csharp/IngescapeCSharpWrapper/IsAPICallable/bin/
csharp/IngescapeCSharpWrapper/IsAPICallable/obj/
csharp/IngescapeCSharpWrapper/IngescapeCSharp/lib/
csharp/IngescapeCSharpWrapper/packages/
csharp/IngescapeCSharpWrapper/examples/CSharpSampleWPF/bin/
csharp/IngescapeCSharpWrapper/examples/CSharpSampleWPF/obj/
csharp/IngescapeCSharpWrapper/examples/CSharpSampleUnity/Library/
csharp/IngescapeCSharpWrapper/examples/CSharpSampleUnity/obj/
csharp/IngescapeCSharpWrapper/examples/CSharpSampleUnity/*.csproj
csharp/IngescapeCSharpWrapper/examples/CSharpSampleUnity/*.sln
csharp/IngescapeCSharpWrapper/examples/CSharpSampleUnity/Temp/
.vs/
*.xml
*.htm

python/build/
python/dist/
python/ingescape.egg-info/

node_modules
package-lock.json